{{ define "body" }}
<div data-ng-controller="$app.home.Home as home">
    <div class="featured-spotlight">
        <div class="container-medium">
            <div class="featured-spotlight__container g--pull-half">
                <div class="featured-spotlight__img">
                    <img src="/static/images/gopher_flying.jpg" alt="wide image placeholder example">
                </div>

                <div class="container-small">
                    <h3 class="xxlarge">First Meetup</h3>
                    <p>
                        The first meetup is now being planned.  If you have ideas for meeting locations, sponsors, presentations or becoming an organizer,
                        <a class="cta--secondary" href="http://www.meetup.com/golangmn/suggestion/">please send a message</a>.
                    </p>
                    <a href="http://meetup.com/golangmn" class="cta--primary">View on Meetup</a>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}
