{{ define "layout" }}
<!DOCTYPE html>
<html ng-app="$app">
<head lang="en">
    <meta charset="utf-8">
    <meta name="keywords" content="USA,Minnesota,Minneapolis,Go,Gophers,group,club,event,community,meetup" />
    <meta name="description" content="Go Language meetup in Minneapolis, St. Paul, Twin Cities Minnesota. A meetup group to discuss the Go Programming Language. (from golang.org) The Go programming language is an open source project to make programmers more productive." />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">

    <meta name="ICBM" content="44.98,-93.27" />
    <meta name="geo.position" content="44.98;-93.27" />
    <meta name="geo.placename" content="Minneapolis, Minnesota, USA" />
    <meta name="geo.region" content="US-MN" />

    <title>{{ .Title }}</title>

    <meta name="twitter:card" value="summary" />
    <meta name="twitter:site" value="@meetup" />
    <meta property="og:site_name" content="Meetup" />
    <meta name="twitter:app:id:iphone" content="375990038" />
    <meta name="twitter:app:name:iphone" content="Meetup" />

    <meta property="og:title" content="GoMN" />

    <meta property="og:type" content="activity" />

    <meta property="og:description" content="Go Language meetup in Minneapolis, St. Paul, Twin Cities Minnesota. A meetup group to discuss the Go Programming Language. (from golang.org) The Go programming language is an open source project to make programmers more productive." />

    <meta name="twitter:url" content="http://golang.mn" />

    <meta property="og:locality" content="Minneapolis" />
    <meta property="og:country-name" content="us" />

    <meta property="og:region" content="MN" />

    <meta property="og:postal-code" content="55401" />

    <meta property="og:latitude" content="44.98" />
    <meta property="og:longitude" content="-93.27" />

    <meta property="og:image" content="http://golang.mn/static/images/appenginegopher.png" />

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Web Starter Kit">

    <!-- iOS icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          href="/static/images/touch/apple-touch-icon-144x144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
          href="/static/images/touch/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
          href="/static/images/touch/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/static/images/touch/apple-touch-icon-57x57-precomposed.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="/static/images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <!-- Generic Icon -->
    <link rel="shortcut icon" href="/static/images/icons/favicon.png?v={{ .Version }}">

    <!-- SEO: If mobile URL is different from desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ .MapsKey }}"></script>

    <!-- Chrome Add to Homescreen -->
    <link rel="shortcut icon" sizes="196x196" href="/static/images/touch/touch-icon-196x196.png">

    <link rel="stylesheet" href="/static/styles/h5bp.css">
    <link rel="stylesheet" href="/static/styles/components/components.css?v={{ .Version }}">
    <link rel="stylesheet" href="/static/styles/main.css?v={{ .Version }}">
    <link href="/static/styles/site.css?v={{ .Version }}" rel="stylesheet">

</head>
<body data-ng-controller="$app.App">
<header class="app-bar promote-layer">
    <div class="app-bar-container">
        <button class="menu"><img src="/static/images/hamburger.svg" alt="menu"></button>
        <h1 class="logo" data-ui-sref="home">
            {{ .Title }}
        </h1>
        <section class="app-bar-actions">
            <!-- Put App Bar Buttons Here -->
        </section>
    </div>
</header>

<nav class="navdrawer-container promote-layer" shadow>
    <h4>golang.mn</h4>
    <ul>
        <li><a href="/">home</a></li>
        <li><a href="/members">members</a></li>
        <li><a href="/metrics">metrics</a></li>
        <li><a href="/about">about</a></li>
        <li><a target="_blank" href="http://github.com/GoMN/www">source</a></li>
    </ul>
</nav>
<main ui-view class="clear">
    {{ template "body" $ }}
</main>
<footer class="clear">
    <span class="footer-domain">Go(lang).mn</span> &#8226; <span class="footer-subtitle">{{ .Subtitle }}</span> &#8226; <span class="footer-year">{{ .Year }}</span>
</footer>
<footer-scripts>
    <script src="/static/vendor/angular/angular.js"></script>
    <script src="/static/vendor/angular-ui-router/release/angular-ui-router.min.js"></script>
    <!-- build:js /static/scripts/main.min.js -->
    <script src="/static/scripts/main.js"></script>
    <script src="/static/scripts/core.js"></script>
    <script src="/static/scripts/app.js"></script>
    <script src="/static/scripts/components/components-module.js"></script>
    <script src="/static/scripts/home/home-module.js"></script>
    <script src="/static/scripts/home/home-controller.js"></script>
    <script src="/static/scripts/about/about-module.js"></script>
    <script src="/static/scripts/about/about-controller.js"></script>
    <script src="/static/scripts/members/members-module.js"></script>
    <script src="/static/scripts/members/members-controller.js"></script>
    <script src="/static/scripts/members/members-service.js"></script>
    <script src="/static/scripts/metrics/metrics-module.js"></script>
    <script src="/static/scripts/metrics/metrics-controller.js"></script>
    <!-- endbuild -->
    <script src="/bootstrap.js"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-52347583-1', 'auto');
        ga('send', 'pageview');
    </script>
</footer-scripts>
</body>
</html>
{{ end }}