.metrics {
  height: 604px;
  padding-top: 82px;
  position: relative; }
  .metrics .subsection-title {
    margin-top: 0; }
  .metrics .metric {
    height: 100%; }
    .metrics .metric .container-medium {
      height: 100%; }
      .metrics .metric .container-medium #map-canvas {
        height: 100%; }

.metrics > .container {
  position: absolute;
  top: 0; }
