@import url(social.css);
.calendar .calendar-heat {
  background-color: red; }
.calendar .calendar-heat-0, .calendar .calendar-heat- {
  background-color: darkgreen; }
.calendar .calendar-heat-1 {
  background-color: green; }
.calendar .calendar-heat-2 {
  background-color: greenyellow; }
.calendar .calendar-heat-3 {
  background-color: greenyellow; }
.calendar .calendar-heat-4 {
  background-color: #ffff00; }
.calendar .calendar-heat-5 {
  background-color: yellow; }
.calendar .calendar-heat-6 {
  background-color: #ffff00; }
.calendar .calendar-heat-7 {
  background-color: orange; }
.calendar .calendar-heat-8 {
  background-color: darkorange; }
.calendar .calendar-heat-9 {
  background-color: orangered; }
.calendar .calendar-heat-10 {
  background-color: darkred; }
.calendar .empty {
  background-color: gray; }
.calendar .history {
  background-color: #CCC; }
.calendar .harness {
  height: 0px;
  width: auto;
  position: relative;
  overflow: visible;
  z-index: 1; }
  .calendar .harness .tooltip {
    position: absolute;
    background-color: #f0f0f0;
    border: 1px solid #999;
    z-index: 999;
    width: auto;
    padding: 15px; }
    .calendar .harness .tooltip ol, .calendar .harness .tooltip p {
      padding: 0px;
      font-size: .9em;
      margin: 0px; }
      .calendar .harness .tooltip ol li, .calendar .harness .tooltip p li {
        white-space: nowrap;
        text-overflow: ellipsis;
        padding-left: 25px;
        margin: 0px; }
        .calendar .harness .tooltip ol li a, .calendar .harness .tooltip p li a {
          text-decoration: none; }

.tags {
  font-size: 2em;
  padding: 0 20px;
  text-align: center; }
  .tags .tag-cloud-item {
    display: inline-block;
    padding: 0 3px;
    line-height: .6em;
    position: relative; }
  .tags .tag-cloud-item:nth-child(odd) {
    top: 5px; }
  .tags .tag-cloud-item:nth-child(even) {
    top: -5px; }
  .tags .tag-cloud-item:nth-child(3n+3) {
    top: 3px;
    left: -2px; }
  .tags .tag-cloud-item:nth-child(4n+4) {
    top: -3px;
    right: 2px; }
  .tags .tag-cloud-30,
  .tags .tag-cloud-29 {
    font-size: .9em;
    margin-top: -5px;
    line-height: 1.3em; }
  .tags .tag-cloud-28,
  .tags .tag-cloud-27,
  .tags .tag-cloud-26 {
    font-size: .8em;
    margin-top: 5px; }
  .tags .tag-cloud-25,
  .tags .tag-cloud-24,
  .tags .tag-cloud-23 {
    font-size: .7em; }
  .tags .tag-cloud-22,
  .tags .tag-cloud-21,
  .tags .tag-cloud-20,
  .tags .tag-cloud-19 {
    font-size: .6em; }
  .tags .tag-cloud-18,
  .tags .tag-cloud-17,
  .tags .tag-cloud-16,
  .tags .tag-cloud-15 {
    font-size: .5em; }
  .tags .tag-cloud-14,
  .tags .tag-cloud-13,
  .tags .tag-cloud-12,
  .tags .tag-cloud-11 {
    font-size: .3em; }
  .tags .tag-cloud-10,
  .tags .tag-cloud-9,
  .tags .tag-cloud-8,
  .tags .tag-cloud-7,
  .tags .tag-cloud-6 {
    font-size: .2em; }
  .tags .tag-cloud-5,
  .tags .tag-cloud-4,
  .tags .tag-cloud-3,
  .tags .tag-cloud-2,
  .tags .tag-cloud-1 {
    display: none; }

.home .featured-spotlight {
  padding-bottom: 70px; }

.members .featured-list {
  padding-top: 20px; }

.metrics .featured-section {
  padding-bottom: 35px; }
  .metrics .featured-section .subsection-title {
    text-align: center; }
.metrics .locations .container-medium {
  padding: 20px 20px 0 20px; }
  .metrics .locations .container-medium #map-canvas {
    height: 500px; }

.about {
  padding-bottom: 20px; }

body {
  color: #600006 !important;
  font-family: helvetica, arial, sans-serif; }
  body a, body a:visited, body a.cta--primary {
    color: #ef9528; }
  body a:hover {
    color: #600006; }

body > header .title {
  font-size: 2.5em; }

body > header .title:hover {
  text-decoration: none; }

body > header .logo {
  cursor: pointer;
  height: 80px;
  vertical-align: middle; }

body > footer {
  font-size: .8em;
  text-align: center;
  line-height: 50px;
  text-transform: lowercase; }
  body > footer .footer-domain, body > footer .footer-subtitle {
    font-size: 1.1em; }

.members .featured-list__item .featured-list__img img {
  height: auto; }
.members .featured-list__item .member-152346232 .featured-list__img img,
.members .featured-list__item .member-32783162 .featured-list__img img {
  transform: scaleY(1);
  -webkit-transform: scaleY(1);
  transition: all 1.7s ease-in-out; }

.members .featured-list__img-wrapper {
  display: block; }

.members .featured-list__item:hover {
  overflow: hidden; }

.members .featured-list__item:hover .member-152346232 .featured-list__img img.member-image,
.members .featured-list__item:hover .member-32783162 .featured-list__img img.member-image {
  transform: scale(1.1);
  -webkit-transform: scale(1.1); }

.featured-section:hover .subsection-title {
  text-shadow: 1px 1px #aaa; }

.featured-spotlight .cta--secondary, .featured-spotlight .cta--secondary:visited {
  color: #fff; }

.featured-spotlight .cta--secondary:hover {
  color: #f0f0f0; }
