@import url(social.css);
.calendar .calendar-heat {
  background-color: red; }
.calendar .calendar-heat-0, .calendar .calendar-heat- {
  background-color: darkgreen; }
.calendar .calendar-heat-1 {
  background-color: green; }
.calendar .calendar-heat-2 {
  background-color: greenyellow; }
.calendar .calendar-heat-3 {
  background-color: greenyellow; }
.calendar .calendar-heat-4 {
  background-color: #ffff00; }
.calendar .calendar-heat-5 {
  background-color: yellow; }
.calendar .calendar-heat-6 {
  background-color: #ffff00; }
.calendar .calendar-heat-7 {
  background-color: orange; }
.calendar .calendar-heat-8 {
  background-color: darkorange; }
.calendar .calendar-heat-9 {
  background-color: orangered; }
.calendar .calendar-heat-10 {
  background-color: darkred; }
.calendar .empty {
  background-color: gray; }
.calendar .history {
  background-color: #CCC; }
.calendar .harness {
  height: 0px;
  width: auto;
  position: relative;
  overflow: visible;
  z-index: 1; }
  .calendar .harness .tooltip {
    position: absolute;
    background-color: #f0f0f0;
    border: 1px solid #999;
    z-index: 999;
    width: auto;
    padding: 15px; }
    .calendar .harness .tooltip ol, .calendar .harness .tooltip p {
      padding: 0px;
      font-size: .9em;
      margin: 0px; }
      .calendar .harness .tooltip ol li, .calendar .harness .tooltip p li {
        white-space: nowrap;
        text-overflow: ellipsis;
        padding-left: 25px;
        margin: 0px; }
        .calendar .harness .tooltip ol li a, .calendar .harness .tooltip p li a {
          text-decoration: none; }

.home .featured-spotlight {
  padding-bottom: 70px; }

.members .featured-list {
  padding-top: 20px; }

.metrics .metric .container-medium {
  padding: 30px 30px; }
  .metrics .metric .container-medium #map-canvas {
    height: 500px; }

body {
  color: #600006 !important;
  font-family: helvetica, arial, sans-serif; }
  body a, body a:visited, body a.cta--primary {
    color: #ef9528; }
  body a:hover {
    color: #600006; }

body > header .title {
  font-size: 2.5em; }

body > header .title:hover {
  text-decoration: none; }

body > header .logo {
  cursor: pointer;
  height: 80px;
  vertical-align: middle; }

body > footer {
  font-size: .8em;
  text-align: center;
  line-height: 50px;
  text-transform: lowercase; }
  body > footer .footer-domain, body > footer .footer-subtitle {
    font-size: 1.1em; }

.members .featured-list__item .featured-list__img img {
  height: auto; }
.members .featured-list__item .member-152346232 .featured-list__img img,
.members .featured-list__item .member-32783162 .featured-list__img img {
  transform: scaleY(1);
  -webkit-transform: scaleY(1);
  transition: all 1.7s ease-in-out; }

.members .featured-list__img-wrapper {
  display: block; }

.members .featured-list__item:hover {
  overflow: hidden; }

.members .featured-list__item:hover .member-152346232 .featured-list__img img.member-image,
.members .featured-list__item:hover .member-32783162 .featured-list__img img.member-image {
  transform: scale(1.1);
  -webkit-transform: scale(1.1); }

.featured-section:hover .subsection-title {
  text-shadow: 1px 1px #aaa; }

.featured-spotlight .cta--secondary, .featured-spotlight .cta--secondary:visited {
  color: #fff; }

.featured-spotlight .cta--secondary:hover {
  color: #f0f0f0; }
