@import url(social.css);
body {
  color: #600006 !important;
  font-family: helvetica, arial, sans-serif; }
  body a {
    color: #ef9528; }
  body a:hover {
    color: #600006; }

body > header .title {
  font-size: 2.5em; }

body > header .title:hover {
  text-decoration: none; }

body > header .logo {
  height: 80px;
  vertical-align: middle; }

body > footer {
  text-align: center;
  line-height: 50px;
  text-transform: lowercase; }
  body > footer .footer-domain {
    font-size: 1.1em; }

.members .featured-list__img img {
  transform: scaleY(1);
  -webkit-transform: scaleY(1);
  transition: all 1.7s ease-in-out;
  height: auto; }

.members .featured-list__item:hover {
  overflow: hidden; }

.members .featured-list__item:hover .featured-list__img img.member-image {
  transform: scale(1.1);
  -webkit-transform: scale(1.1); }

.featured-section:hover .subsection-title {
  text-shadow: 1px 1px #aaa; }

.featured-spotlight .cta--secondary, .featured-spotlight .cta--secondary:visited {
  color: #fff; }

.featured-spotlight .cta--secondary:hover {
  color: #f0f0f0; }
